:root {
	--main-bg-color: #eee8d5;
	--em-bg-color: #fdf6e3;
	--bot-color: #2aa198;
	--user-color: #859900;
}

* {
	box-sizing: border-box;
}

html, body {
	background-color: var(--main-bg-color);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#main {
	padding: 2ch;
	margin: 0 auto;
	max-width: 80ch + 2ch;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#conversation {
	flex: 1 0 min-content;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 1ch;
	overflow-y: auto;
}

.user-entry,
.bot-entry {
	max-width: 80%;
	padding: 2ch;
	background-color: var(--em-bg-color);
	border-radius: 8px;
	margin-bottom: 1ch;
}

.user-entry {
	align-self: flex-end;
	border: 2px solid var(--user-color);
}

.bot-entry {
	align-self: flex-start;
	border: 2px solid var(--bot-color);
}

#prompt-submit {
	margin: 0 0 0 auto;
	display: block;
}

#prompt-editor {
	width: 100%;
	height: 5em;
	resize: none;
	border: 2px solid var(--user-color);
	padding: 4px;
	background-color: var(--em-bg-color);
	margin: 0 0 0 auto;
	display: block;

	&:hover,
	&:focus {
		border: 4px solid var(--user-color);
		padding: 2px;
		outline: none;
	}
}

#prompt-container {
	grid-area: prompt;
}

.reuse {
	&:hover {
		cursor: pointer;
	}
}

p {
	margin: 0;
	padding: 0;
}
