:root {
	--main-fg-color: #fdf6e3;
	--main-bg-color: #002b36;
	--em-bg-color: #073642;
	--bot-color: #2aa198;
	--user-color: #859900;
	--master-color: #6c71c4;
}

* {
	box-sizing: border-box;
}

html, body {
	color: var(--main-fg-color);
	background-color: var(--main-bg-color);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#main {
	padding: 2ch;
	margin: 0 auto;
	max-width: 80ch + 2ch;
	height: 100%;
}

#conversation {
	height: calc(100% - 128px - 4ch - 100px);
	overflow-y: auto;
}

.user-entry-container,
.bot-entry-container,
.master-entry-container, {
	width: 100%;
	display: flex;
}

.user-entry-container {
	justify-content: flex-end;
}

.master-entry-container {
	justify-content: center;
}

.user-entry,
.bot-entry,
.master-entry {
	max-width: 80%;
	padding: 2ch;
	background-color: var(--em-bg-color);
	border-radius: 8px;
	margin-bottom: 1ch;
}

.user-entry {
	border: 2px solid var(--user-color);
	justify-self: flex-end;
}

.bot-entry {
	border: 2px dashed var(--bot-color);
	justify-self: flex-start;
}

.master-entry {
	border: 4px double var(--master-color);
}

#prompt-submit {
	margin: 0 0 0 auto;
	display: block;
}

#prompt-editor {
	color: var(--main-fg-color);
	width: 100%;
	height: 5em;
	resize: none;
	border: 2px solid var(--user-color);
	padding: 4px;
	background-color: var(--em-bg-color);
	margin: 0 0 0 auto;
	display: block;
	border-radius: 2px;

	&:hover,
	&:focus {
		border: 4px solid var(--user-color);
		padding: 2px;
		outline: none;
	}
}

#prompt-container {
	flex: 1 0 auto;
}

.reuse {
	&:hover {
		cursor: pointer;
	}
}

p {
	margin: 0 0 1ch;
	padding: 0;
}

footer {
	display: flex;
}

#bot-status {
	padding: 1ch 1ch 0;
	margin: 1ch auto;
	width: min-content;
	border: 2px dashed var(--bot-color);
	border-radius: 2px;

	img {
		height: 128px;
		width: 64px;
	}
}
